*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contenedorTarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.tarjeta {
    width: 250px;
    height: 350px;
    border: 1px solid;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    padding: 10px;
}

.tarjeta img{
    width: 150px;
    height: 100px;
    object-fit: cover;
}
